* {
	margin:0;
	padding:0;
}
body{
	margin:0;
}
.background{
	width:100%;
	height:100%;
	margin:0;
	text-align:center;
}
.container{
	margin-top:100px;
	text-align:center;
	background-color: rgba(128, 185, 110,0.5);
}
.title{
	background-color : rgb(72,61,139);
	position:fixed;
	width:100%;
	height: 100px;
	text-align:center;
	
}
.sidebar{
	display:table-cell;
	position:fixed;
	width:15%;
	height:100%;
	background-color : rgb(176,224,230);
	text-align:top;
}
div.p{
	text-align:top;
}
.content{
	width: 70%;
	display:table-cell;
	background-color : rgba(211,211,211);
	text-align:center;
}
.content_paragraph{
	text-align:left;
}
.image_family{
	background: url("Images/family_edited.jpg") no-repeat;
	width: 500px;
	height: 500px;
	background-size: contain;
	float: right;
	
}
.image_Daughter_Dad{
	background: url("Images/Daughter+Dad_edited.jpg") no-repeat;
	width: 450px;
	height: 450px;
	background-size: contain;
	float: right;
	
}
.image_parents{
	background: url("Images/Mom+Dad_edited.jpg") no-repeat;
	width: 450px;
	height: 400px;
	background-size: contain;
	float: right;
	
}