.background{
	width:100%;
	text-align:center;
	background-color: rgb(255, 185, 110);
}
.container{
	width:80%;
	text-align:center;
	display: inline-block;
	background-color: rgb(128, 185, 110);
}
.title{
	background-color : rgb(187,255,251);
	text-align:center;
}
.content{
	background-color : rgb(255,179,196);
	text-align:center;
}