* {
	margin:0;
	padding:0;
}
body{
	margin:0;
}
.background{
	width:100%;
	height:90vh;
	margin:0;
	text-align:center;
}
.container{
	text-align:center;
	position:relative;
	/*background-color: rgba(128, 185, 110,0.5);*/
}

.top{
	border: 0;
}

.title{
	background-color : rgb(148, 109, 156)/*rgb(133, 96, 141)*/;
	position:fixed;
	width:100%;	
	height:8vw;
	text-align:center;
	color:rgb(217, 212, 209);
	z-index: 2;
	
}
.sidebar{
	
	width:15vw;
	position:fixed;
	background-color : rgb(217, 212, 209)/*rgb(247, 230, 252)rgb(221, 220, 222)*/;
	text-align:top;
	color:rgb(19, 19, 16);
	margin-top:8vw;
}
.sidebar
div{
	text-align: left;
}


.content{
	width: 70vw;
	position:absolute;
	z-index: 1;
	background-color : rgb(189, 199, 219)/*rgba(214, 237, 250)*/;
	color:rgb(19, 19, 16);
	text-align:left;
	margin-left:15vw;
	margin-top:8vw;
}
.content
td{
	
}

.image_family{	
	background: url("Images/family.jpg") no-repeat;
	width: 45vw;
	height: 30vw;
	background-size: contain;
	float: right;
	
}
.image_Daughter_Dad{
	background: url("Images/Daughter+Dad.jpg") no-repeat;
	width: 45vw;
	height: 40vw;
	background-size: contain;
	float: right;
	
}
.image_parents{
	background: url("Images/Mom+Dad.jpg") no-repeat;
	width: 40vw;
	height: 30vw;
	background-size: contain;
	
}